

#map{
  height: 300px;
  width: 100%;
  border: 5px solid gray;
}

.background-img {
  background: url(../images/surf-background.jpg) bottom center no-repeat ;
  background-size: cover;
  height: 400px;
}
