<!-- Google Map -->
<div>
    <div id="map"></div>
    <table id="form-control">
      <tr>
        <td><label>Enter Latitude</label></td>
        <td><input type="number" ng-model="markerLat"
          required=""></td>
      </tr>
      <tr>
        <td><label>Enter Longitude</label></td>
        <td><input type="number" ng-model="markerLng"
          required="" ng-model="defaultLng"></td>
      </tr>
      <tr>
        <td><label>Enter Title</label></td>
        <td><input type="text" ng-model="infoTitle"
          required=""></td>
      </tr>
      <tr>
        <td><button class="button"
            ng-click="addMarker(markerLat,markerLng,infoTitle)">Add</button></td>
      </tr>
    </table>
  </div>
