<!-- Google Map -->
<div>

  <div id='map'ng-click='addMarker(markerLat,markerLng,infoTitle)' >

  </div>


  <!-- Panel Form -->

  <form ng-submit="">
      <div class="form-group">
        <label for="inputMessage">Enter Title</label>
        <input type="text" ng-model="infoTitle" required="">
        <br/>
        <!-- Lat -->
        <label for="inputMessage">Enter Lat</label>
        <input type="number" ng-model="markerLat" required="">
        <br/>
        <!-- Long -->
        <label for="inputMessage">Enter Long</label>
        <input type="number" ng-model="markerLng" required="" ng-model="defaultLng">
        <br/>
        <textarea rows="4" id="inputMessage" ng-model="comment" placeholder="Your comment" required=""></textarea>
      </div>
      <button class="button" ng-click="addMarker(markerLat,markerLng,infoTitle)">Add</button>
  </form>
</div>
